/* clip-path: polygon(0 0, 49% 50%, 0 100%, 100% 100%, 50% 50%, 100% 0); path för ventiler
 */

body{
    background-color: hwb(180 40% 55%);
    margin: 0;
    padding: 0;
    
}
#kokare5_navbar{
    display:flex;
    flex-direction: row;
    background-color: hsl(220, 70%, 40%);
    font-size: 2rem;
}
ul li{
    list-style-type: none;
}
#flissilo{
    width: 15.625rem;
    height: 150px;
    background: linear-gradient(to right, hsl(0, 0%, 30%), hsl(0, 0%, 50%), hsl(0, 0%, 30%));
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    position: relative;
    left: 12.5em;
    z-index: -0;
    border: 0px;
}
#flissilo:hover{
    cursor: pointer;
    background: linear-gradient(to right, hsl(0, 0%, 50%), hsl(0, 0%, 70%), hsl(0, 0%, 50%));
}
#k5_matarskruv{
    background-color: hsl(0, 0%, 40%);
    width: 350px;
    height: 50px;
    z-index: 2;
    position: relative;
    top: 30px;
    left: 60px;
}
#k5_matarskruv:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 60%);
}

#lagtryck_kik{
    background-color: hsl(115, 100%, 60%);
    width: 60px;
    height: 60px;
    z-index: 3;
    position: relative;
    border-radius: 100%;
    top:70px;
    border: solid hsl(0, 0%, 0%) 10px;
}
#lagtryck_kik:hover{
    cursor: pointer;
    background-color: hsl(115, 100%, 80%);
    border: solid hsl(0, 0%, 20%) 10px;
}
#basningskarl{
    background-color: hsl(0, 0%, 40%);
    width: 300px;
    height: 100px;
    position: relative;
    z-index: 4;
    top:170px;
    right:50px
}
#basningskarl:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 60%);
}
#pinnhjul{
    height: 150px;
    width: 150px;
    clip-path: polygon(70% 20%, 70% 0, 100% 0, 100% 100%, 70% 100%, 70% 70%, 60% 60%, 30% 60%, 30% 30%, 60% 30%);
    position: relative;
    top:300px;
    right: 220px;
    z-index: 5;
    background-color: hsl(0, 0%, 50%);
    border: 0px;
}
#pinnhjul:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 70%);
}